*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.navBar{
    background-color: #e38646;
    padding: 20px;
    display: block;
    color: white;
    cursor: pointer;
    font-size: 1.5em;
    width: 100%;
}
.menu, .submenu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu{
    background: #555;
    width: 100%;
    margin-left: 100%;
    transition: all 0.5s;
}

.menuLink{
    display: block;
    padding: 20px;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}

.menuLink:hover{
    background:#444 ;
}

.submenu .menuLink:hover{
    background:#222 ;
}

.submenu{
    height: 0;
    overflow: hidden;
    transition: all .3s;
}

.submenu .menuLink{
    background: #333;
    padding: 40px;
}

.mostrar {
    margin-left: 0;
}

@media (min-width:1024px) {
    .navBar{
        display: none;
    }

    .menu{
        margin-left: 0;
        display: flex;
    }
    .containerSubmenu{
        position: relative;
    }
    .submenu{
        position: absolute;
        top: 60px;
        width: 250px;
        overflow: visible;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
    }
    .containerSubmenu:hover .submenu {
        opacity: 1;
        visibility: visible;
    }

}