* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    text-decoration: none;
    max-width: 100%;
    

}
/* Header*/


.divHeaderContainer {
    background: #ffffff;
    width: 100%;
    margin: 0%;

    /* position: fixed; */
}

div.container {
    padding: 0%;
    width: 90%;


}

.logoRotary {
    border-radius: 1rem;
}

/* .navbar-expand .navbar-nav .nav-link {
    
    color: #044383;
} */

/* .ulHeader {
    width: 33rem;
    justify-content: space-around;
} */



.btnP {
    
    background: #FFFFFF;
    width: 140px;
    padding: 0.4rem;
    margin: 0 0 0 20px;
    border-radius: 50px;
    border: solid 1.5px #044383;
    color: #044383;
}

.btnP:hover {
    background: #044383;
    color: #ffffff;
    /*transition: all 1s;*/
}

.btnS {
    font-family:Arial, Helvetica, sans-serif;
    background: #fcb316;
    width: 140px;
    padding: 0.4rem;
    margin: 0 0 0 10px;
    border-radius: 50px;
    border: solid 2px #fcb316;
    color: #044383;
}

.btnS:hover {
    background: none;
    border: solid 2px #fcb316;
    color: #fcb316;
    /*transition: all 1s;*/
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    padding: 15px;
}

.navbar a{
    text-decoration: none;
    color: inherit;
    padding: 15PX;
}
.imagen{
width:50px ;
}
.logo {
    margin-right: 50px;
}

.list {
    list-style: none;
    display: flex;
    width: 33rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    color: #044383;
}
li:hover {
    font-weight: bold;
}

li.active {
    font-weight: bold;
}

#giveOff{
    display: none;
    width: 80%;
    margin: 0;
}

#toggler,
.navbar label{
    display: none;
}

/*Inicio de Header Responsive*/
@media screen and (max-width: 500px) 
    {
        .menu{
            
            width: 100%;
            max-height: 0;
            overflow:hidden;
        }

        .list {
            flex-direction: column;
            align-items: center;
            padding: 10px;
        }
        a{
            display: flex;
            flex-direction: column;
        }
        .navbar label {
            display: inline-flex;
            align-items: center;
            cursor: pointer;
        }

        #toggler:checked~.menu {
            max-height: 100%;
        }
        
        .buttonHeader,.gap-2, .d-md-flex, 
        .justify-content-md-end,
        .logoRotary,
        #giveOn {
            display: none!important;
        }
        #giveOff{
            display: inherit;
            width: 80%;
            margin: 0;
        }
    }

/**********Fin de Header Responsive***********/



.divHeaderContainer {
    background: #ffffff;
    width: 100%;
    margin: 0%;

    /* position: fixed; */

}

div.container {
    padding: 0%;
    width: 90%;


}

.logoRotary {
    border-radius: 1rem;
}

.navbar-expand .navbar-nav .nav-link {
    
    color: #044383;
}

.ulHeader {
    width: 33rem;
    justify-content: space-around;
}

li:hover {
    font-weight: bold;
}

li.active {
    font-weight: bold;
}

.btnP {
    
    background: #FFFFFF;
    width: 140px;
    padding: 0.4rem;
    margin: 0 0 0 20px;
    border-radius: 50px;
    border: solid 1.5px #044383;
    color: #044383;
}

.btnP:hover {
    background: #044383;
    color: #ffffff;
    /*transition: all 1s;*/
}

.btnS {
    font-family:Arial, Helvetica, sans-serif;
    background: #fcb316;
    width: 140px;
    padding: 0.4rem;
    margin: 0 0 0 10px;
    border-radius: 50px;
    border: solid 2px #fcb316;
    color: #044383;
}

.btnS:hover {
    background: none;
    border: solid 2px #fcb316;
    color: #fcb316;
    /*transition: all 1s;*/
}
