/*
---Body
---Header (listo)
---Footer
---Seccion Index
---Seccion Sobre Nosotros
---Seccion Proyectos Y Causas
---Contacto

*/

/*
@font-face {
    font-family: Frutige;
    font-weight: bold;
    font-style: normal;
    src: url(/fuentes/Bold.otf);
}

@font-face {
    font-family: Frutige;
    font-weight: normal;
    font-style: normal;
    src: url(/fuentes/Roman.otf);
}

@font-face {
    font-family: Frutige_Italic;
    font-style: italic;
    src: url(/fuentes/Italic.otf);
}

@font-face {
    font-family: Frutige_Black;
    font-weight: 700;
    src: url(/fuentes/Black.otf);
}
*/



* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    text-decoration: none;
    max-width: 100%;
    

}

/*---------------------------BODY----------------------------------*/



body {
    background-color: rgb(237, 240, 243);
    
}





/*---------------------------HEADER ----------------------------------*/
header{
    z-index: 100;
    width: 100%;
    overflow: hidden;
    margin-top: 15px;

}

.header2{
    position: fixed;
    height: 150px;
    margin: 0;
    transition: all 500ms;
    margin-bottom: 10em;
}

.header2 .logoRotary {
    line-height: 50px;
    font-size: 30px;
}
.header2 nav {
    line-height: 200px;
    
}

.wrapper
{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
/* .divHeaderContainer {
    background: #ffffff;
    width: 100%;
    margin: 0%;

}

div.container {
    padding: 0%;
    width: 90%;


} */

.logoRotary {
    border-radius: 1rem;
}

/* .navbar-expand .navbar-nav .nav-link {
    
    color: #044383;
} */

/* .ulHeader {
    width: 33rem;
    justify-content: space-around;
} */



.btnP {
    display: inline-block;
    
    background: #FFFFFF;
    width: 140px;
    padding: 0.4rem;
    margin: 0 0 0 20px;
    border-radius: 50px;
    border: solid 1.5px #044383;
    color: #044383;
    line-height: normal!important;
    height: 50px;
}

.btnP:hover {
    background: #044383;
    color: #ffffff;
    /*transition: all 1s;*/
}

.btnS {
    font-family:Arial, Helvetica, sans-serif;
    background: #fcb316;
    width: 140px;
    padding: 0.4rem;
    margin: 0 0 0 10px;
    border-radius: 50px;
    border: solid 2px #fcb316;
    color: #044383;
    line-height: normal!important;
    height: 50px;
}
    

.btnS:hover {
    background: none;
    border: solid 2px #fcb316;
    color: #fcb316;
    /*transition: all 1s;*/
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    padding: 15px;

}

.navbar a{
    text-decoration: none;
    color: inherit;
    padding: 15PX;
    line-height: normal;
}
.imagen{
width:50px ;
}
.logo {
    margin-right: 50px;
}

.list {
    list-style: none;
    display: flex;
    width: 33rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    color: #044383;
}
li:hover {
    font-weight: bold;
}

li.active {
    font-weight: bold;
}

#giveOff{
    display: none;
    width: 80%;
    margin: 0;
}

#toggler,
.navbar label{
    display: none;
}

/*Inicio de Header Responsive*/
@media screen and (max-width: 500px) 
    {
        .menu{
            
            width: 100%;
            max-height: 0;
            overflow:hidden;
        }

        .list {
            flex-direction: column;
            align-items: center;
            padding: 10px;
        }
        a{
            display: flex;
            flex-direction: column;
        }
        .navbar label {
            display: inline-flex;
            align-items: center;
            cursor: pointer;
        }
        .logoRotary{
            width: 50%;
            margin: 0;
        }


        #toggler:checked~.menu {
            max-height: 100%;
        }
        
        .buttonHeader,.gap-2, .d-md-flex, 
        .justify-content-md-end
        {
            display: none!important;
        }
        #giveOff{
            display: inherit;
            width: 80%;
            margin: 0;
        }
    }

/**********Fin de Header Responsive***********/


/* FIN HEADER */






/*---------------------------FOOTER ----------------------------------*/


footer {
    background: #044383;
    width: 100%;
    padding: 5rem 10rem 5rem 10rem ;
    margin: 10rem 0 0 0;

}


.footerContainer1 {
    margin: 0px;
    width: 100%;
    display: flex;
    padding: 1rem;
    justify-content: space-around;
}

.footerContainer1 .cantainerLista{
    width: 50%;
}
.footerContainer1 .cantainerLogos{
    width: 50%;
}

.footerContainer1 .cantainerLogos img{
    padding-right: 50px;
}

.footerContainer1 .datos{
    width: 50%;
    color: #ffffff;
}

.footerContainer1 .datos p{
    margin: 0;
    font-size: 1.1rem;
}


.footerContainer1 .redes{
    width: 20%;
}

.footerContainer1 .botonesFooter{
    padding-left: 105px;
    width: 30%;
}





/*---------------estilos para lista del footer -----------*/

footer ul{
    width: 100%;
    padding: 0%;
    
}

footer li {
    border-bottom: 2px solid #ffffff;
    list-style: none; 
}

footer li a{
    color:#ffffff;
    font-size: 40px;
    font-weight: normal;
    text-decoration: none;
}

footer li a:hover{
    cursor: pointer;
    color: #fcb316;
    font-weight: 400;
}


/*---------------estilos para botones del footer -----------*/


.botonFooter {
    background: #fcb316;
    width: 140px;
    padding: 0.4rem;
    margin: 10px 0 0 10px;
    border-radius: 50px;
    border: solid 2px #fcb316;
    color: #044383;
}

.botonFooter:hover {
    background: none;
    border: solid 2px #fcb316;
    color: #fcb316;
}



/* FIN FOOTER */





/*---------------------------SECCION INICIO ----------------------------------*/

main {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0;
    background-color: #ffffff;
}

.home{
    background-color: #eff8ff; 
}

/*INICIO SECTIONS CAROUSEL */
.sectionCarousel {

    width: 100%;
    height: 845px;
    position: relative;
    overflow: hidden;
    margin: 0px;
}

.textoCarousel {
    position: absolute;
    top: 15rem;
    left: 200px;
    /* border: #cfd4d6 solid; */
    width: 942px;
    height: 25rem;
}

.textoCarousel h1 {
    
    font-size: 75px;
    color: #FFFFFF;
    text-align: left;
    margin: 0px 20px 20px 0px;
}

.textoCarousel p {
    
    font-weight:400;
    line-height:45px;
    font-size: 40px;
    color: #ffffff;
    margin: 0;
}
.amarillo{
    color: #fcb316;
}

.textoCarousel button {
    margin-top: 40px;
    
    
}


/*FIN SECTIONS CAROUSEL */
/*INICIO SECTION HISTORY AND CAUSE */
.contenedor-hpc {
    margin:  auto;
    width: 100%;
    
}

.contenedor-hpc2{
    background-color:#ffffff;
    width: 65%;
    margin: 5rem auto;
    display: flex;
}

.contenedor-hpc2 img{
    width: 100%;
    height: auto;
}

/*@media only screen and (max-width: 1080px) {
    .contenedor-hpc{
        flex-wrap: wrap;
    }
}*/


.contenedor-hpc3 {
    width: 100%;
    height: auto;
    margin: 1rem 3rem;
}

.contenedor-hpc4 {
    overflow: hidden;
    width: 100%;
    height: auto;
    margin: 0;
}

.contenedor-hpc4 img{
    overflow: hidden;
}

.contenedor-hpc4 img:hover{
    opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}


.card-title {
    color: red;
}

.card-text {
    margin: 2rem 0;
}

/*FIN SECTION HISTORY AND CAUSE */
/*INICIO SECTION THEMISSION */
.theMission {
    margin: 10rem 0;
}

.theMissionH2Container {
    text-align: center;
    margin: auto;

}

/*FIN SECTION THEMISSION */
/*INICIO SECTION THREECARD */
.threeCard {
    width: 80%;
    margin: 5rem auto;
    display: flex;
}

.threeCard img{
    border-bottom: 5px solid #044383;
}

.threeCardContainer {
    
    width: 30%;
    margin: auto;
    background-color: #ffffff;
}
.threeCardContainer:hover{
    cursor: pointer;
    background:#019fcb;
}

.threeCardContainer2 {
    padding: 0;
    margin: auto;
    height: 40rem;
}

.threeCardContainer3 {
    padding: 20px;
    margin: auto;
    
}


.threeCardContainer h4{
    margin: 2rem 0;
}

.threeCardContainer p {
    margin: 2rem 0;
    font-size: 16px;
    
    font-weight: normal;
    font-style: normal;
}

/*FIN SECTION THREECARD */
/* FIN MAIN */

/******************************************** FIN LINK SOBRE INDEX *****************************************************/
/******************************************** SOBRE NOSOTROS *****************************************************/


.banner {

    width: 100%;
    height: 532px;
    position: relative;
    overflow: hidden;
    margin: 0px;
}

article{
    width: 65%;
    margin: 5rem auto;
}

h2{
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 50px;
    color: #044383;
    
}

article div{
    padding-bottom: 50px;
}

article div p{
    font-size: 20px;
    color: #044383;
    
}



.segunda-lectura{
    
    padding:0px 0px 50px 150px;
    font-size: 18px;
    color: #044383;
    
}

.img-sn{
    padding:0px 0px 0px 150px;
}

.img-sn1{
    padding: 0px;
}
.img-sn2{
    padding: 0px;
}
.img-sn1 img{
    padding: 5px;
}
.img-sn2 img{
    padding: 5px;
}




/*.sectionHistoryAbautUs {
    margin: 5rem 0;
}

.historyContainer h2 {
    height: 86px;
    width: 67rem;
}

.historyContainer p {
    width: 67rem;
    height: 15rem;
}

.rotaryTapialesContainer h2 {
    height: 5.3rem;
    width: 67rem;
}

.rotaryTapialesContainer p {
    /* height: 10rem; 
    width: 67rem;
}

.sectionInfoContainer h2 {
    margin: 0 0 3rem 0;
}

.sectionInfoContainer p {
    width: 67rem;
}


.sectionInfoContainer2 p {
    width: 67rem;
}

.sectionInformationImgContainer {
    display: flex;
    margin: 7rem 0 0 0;
}

.sectionInformationImgContainer .ImgContainer1 img {
    height: 100%;
    width: 100rem;
}

.sectionInformationImgContainer .ImgABContainer {
    width: 80rem;
    margin: 0 0 0 1rem;
}

.sectionInformationImgContainer .ImgABContainer .ImgAContainer {
    border: black;
    margin: 0 0 1rem 0;
} */

/******************************************** FIN LINK SOBRE NOSOTROS *****************************************************/

.container-amarillo{
    width: 100%;
    height: 400px;
    padding: 8rem 11rem 5rem 11rem;
    margin: 0;
    background-color: #fcb316;
}

.container-amarillo p{
    font-size: 2rem;
    text-align: center;
    color: #044383;
    font-weight: 600;
    margin: 0;
}


/******************************************** INICIO LINK SOBRE NOSOTROS *****************************************************/
/******************************************** FIN LINK PROYECTOS Y CAUSAS *****************************************************/


/******************************************** INICIO LINK CONTACTO *****************************************************/

/* .formContainer {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 5rem auto;
    padding: 2rem;
    border: solid #cfd4d6;
    border-radius: 1rem;
}



.contactContainer {
    width: 304px;
    padding: 2rem;
}

.contactContainer h2 {
    margin: 0 0 2rem 0;
}

.contactContainer p {
    font-size: 1rem;
    margin: auto;
}

.contactNetContainer {
    margin: 1rem 0;
}

.formContainer form {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    width: 45rem;
    margin: auto;
}

.formName {
    width: 20rem;
    margin: auto;
}

.formPhone {
    width: 20rem;
    margin: auto;
}

.formEmail {
    width: 40.3rem;
    margin: 1rem auto;
}

:hover.formName,
:hover.formEmail,
:hover.formPhone {
    background: #b5e1f3;
}

.message {
    width: 40.3rem;
    padding: 3rem;
    margin: 1rem auto;
}

:hover.message {
    background: #b5e1f3;
}

form .button {
    height: 60px;
    width: 176px;
    left: 647px;
    top: 1674px;
    border-radius: 81px;
    margin: auto;
}

form :hover.button {
    transition: all 1s;
    background: #b5e1f3;
}

.sectionMap {
    width: 100%;
}

.mapsContainer {
    width: 100%; 
}*/

.prueba{
    position: relative;
    top: 8em;
    transition: all 500ms;
}

.mapsContainer{

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 530px;
    margin: 50px auto;

}

.maps {
    width: 100%;
    height: 530px;
    margin: 0;
    

}


/**************************** Formulario contacto *******************/

:focus{
    outline: none;
}
/* main{
    padding-top: 100px;
} */

/*formulario*/

.formWrap {
    width: 80%;
    height: 530px;
    margin: 50px auto;
    display: flex;

    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/*Informacion de contacto*/

.contactInfo::before {
    content:'';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: #fcb316;;

    opacity: 0.6;

}


.contactInfo{
    width: 38%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center ;
    /* justify-content: center; */

    background-image: url('./image/historia1.jpg');
    background-size:cover ;
    background-position: center center;
}

.infoTittle , .infoItems {
    position: relative;
    z-index: 2;
    color: #fff;

}

.infoTittle{

    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.infoTittle h2{
    font-size: 35px;
    margin-top: 40px;
}

.infoItems{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 5px;
}
.infoItems p{
    
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 10px;
}

.infoItems p:nth-child(1) span{
    font-size: 30px;

    margin-right: 15px;
    margin-left: 4px;
}

.infoItems p:nth-child(2) span{
    font-size: 10px;
    margin-right: 15px;
    margin-left: 4px;
}

form.formContact {
    width: 62%;
    padding: 30px 40px;
    margin: auto;
}

form.formContact h2 {
    font-size: 25px;
    font-weight: 600;
    color: #303030;
    margin-bottom: 30px;
}

form.formContact .userInfo {
    display: flex;
    flex-direction: column;
}

form.formContact label {
    font-weight: 600;

}
.namePhone{
    display:flex;
    flex-direction: row;
}
.formContact div div div{
    margin: auto;

}



form.formContact input, form.formContact textarea, form.formContact div input {
    width: 100%;
    padding: 8px 0px 5px;
    border: none;
    border-bottom: 2px solid #D1D1D1;
    margin-bottom: 20px;

    font-family: 'Arial, Helvetica, sans-serif';
    color: #5A5A5A;
    font-size: 14px;
    font-weight: 400;

}

form.formContact textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 100px;
    min-height: 100px;
}


/* Buton de envio*/
form.formContact input[type="submit"]{
    width: 180px;
    background: #4091EC;
    padding: 10px;
    border: none;
    border-radius: 25px;
    
    align-self: center;

    color: #fff;
    font-family: 'Open sans';
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

}

form.formContact input[type="submit"]:hover{
    transition: all 1s;
    background: #b5e1f3;

}

/*Mensaje de error*/

.modalWrap {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);

    position: fixed;
    top:0;
    left: 0;
    z-index:1000;

    display: flex;
    justify-content: center;
    align-items: center;
}


.mensajeModal {
    background: #FFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    width: 400px;
    padding: 30px 20px 15px;
}

.mensajeModal h3{
    text-align: center;
    font-family: 'Arial';
    font-size: 20px;
    font-weight: 400;
}

.mensajeModal h3:after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background:#C5C5C5 ;
    margin: 10px 0px 15px;
}

.mensajeModal p {
    font-size: 16px;
    color: #606060;
}

/* .mensajeModal p:before {
    content: "\food";
    font-family: FontAwesome;
    font-size: 16px;
    color: #E25151;
    margin-right:8px ;

} */

.mensajeModal #btnClose{
    display: inline-block;
    padding: 3px 10px;
    margin-top: 10px;

    background: #E25151;
    color: #fff;
    border: 2px solid #B14141;
    cursor: pointer;

    float:right;
}

/* FIN FORMULARIO CONTACTO */


/******************************************** FIN LINK CONTACTO *****************************************************/