/*
---Body
---Header (listo)
---Footer
---Seccion Index
---Seccion Sobre Nosotros
---Seccion Proyectos Y Causas
---Contacto

*/

/*
@font-face {
    font-family: Frutige;
    font-weight: bold;
    font-style: normal;
    src: url(/fuentes/Bold.otf);
}

@font-face {
    font-family: Frutige;
    font-weight: normal;
    font-style: normal;
    src: url(/fuentes/Roman.otf);
}

@font-face {
    font-family: Frutige_Italic;
    font-style: italic;
    src: url(/fuentes/Italic.otf);
}

@font-face {
    font-family: Frutige_Black;
    font-weight: 700;
    src: url(/fuentes/Black.otf);
}
*/



* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    text-decoration: none;
    max-width: 100%;


}

::selection {

    background: #fcb316;
}

/*---------------------------BODY----------------------------------*/



body {
    background-color: rgb(237, 240, 243);

}





/*---------------------------HEADER ----------------------------------*/


.divHeaderContainer {
    background: #ffffff;
    width: 100%;
    margin: 0%;

    /* position: fixed; */
}

div.container {
    padding: 0%;
    width: 90%;


}

.logoRotary {
    border-radius: 1rem;
}

.navbar-expand .navbar-nav .nav-link {

    color: #044383;
}

.ulHeader {
    width: 33rem;
    justify-content: space-around;
}

li:hover {
    font-weight: bold;
}

li.active {
    font-weight: bold;
}

.btnP {

    background: #FFFFFF;
    width: 140px;
    padding: 0.4rem;
    margin: 0 0 0 20px;
    border-radius: 50px;
    border: solid 1.5px #044383;
    color: #044383;
}

.btnP:hover {
    background: #044383;
    color: #ffffff;
    /*transition: all 1s;*/
}

.btnS {
    font-family: Arial, Helvetica, sans-serif;
    background: #fcb316;
    width: 140px;
    padding: 0.4rem;
    margin: 0 0 0 10px;
    border-radius: 50px;
    border: solid 2px #fcb316;
    color: #044383;
}

.btnS:hover {
    background: none;
    border: solid 2px #fcb316;
    color: #fcb316;
    /*transition: all 1s;*/
}

.textoCarousel .btnS {
    width: 200px;
    height: 60px;
    padding: auto;
    font-size: 28px;
}

/* FIN HEADER */






/*---------------------------FOOTER ----------------------------------*/


footer {
    background: #044383;
    width: 100%;
    padding: 5rem 10rem 5rem 10rem;
    margin: 0rem 0 0 0;

}


.footerContainer1 {
    margin: 0px;
    width: 100%;
    display: flex;
    padding: 1rem;
    justify-content: space-around;
}

.footerContainer1 .cantainerLista {
    width: 50%;
}

.footerContainer1 .cantainerLogos {
    width: 50%;
}

.footerContainer1 .cantainerLogos img {
    padding-right: 50px;
}

.footerContainer1 .datos {
    width: 50%;
    color: #ffffff;
}

.footerContainer1 .datos p {
    margin: 0;
    font-size: 1.1rem;
}


.footerContainer1 .redes {
    width: 20%;
}

.footerContainer1 .botonesFooter {
    padding-left: 105px;
    width: 30%;
}





/*---------------estilos para lista del footer -----------*/

footer ul {
    width: 100%;
    padding: 0%;

}

footer li {
    border-bottom: 2px solid #ffffff;
    list-style: none;
}

footer li a {
    color: #ffffff;
    font-size: 40px;
    font-weight: normal;
    text-decoration: none;
}

footer li a:hover {
    cursor: pointer;
    color: #fcb316;
    font-weight: 400;
}


/*---------------estilos para botones del footer -----------*/


.botonFooter {
    background: #fcb316;
    width: 140px;
    padding: 0.4rem;
    margin: 10px 0 0 10px;
    border-radius: 50px;
    border: solid 2px #fcb316;
    color: #044383;
}

.botonFooter:hover {
    background: none;
    border: solid 2px #fcb316;
    color: #fcb316;
}



/* FIN FOOTER */





/*---------------------------SECCION INICIO ----------------------------------*/

main {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0;
    background-color: #ffffff;
}

.home {
    background-color: #f9fcff;
}

/*INICIO SECTIONS CAROUSEL */
.sectionCarousel {

    width: 100%;
    height: 845px;
    position: relative;
    overflow: hidden;
    margin: 0px;
}

.portada {

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    filter: brightness(0.7);

}

.textoCarousel {
    position: absolute;
    top: 15rem;
    left: 200px;
    /* border: #cfd4d6 solid; */
    width: 942px;
    height: 25rem;
}

.textoCarousel h1 {

    font-size: 75px;
    color: #FFFFFF;
    text-align: left;
    margin: 0px 20px 20px 0px;
}

.textoCarousel p {

    font-weight: 400;
    line-height: 45px;
    font-size: 40px;
    color: #ffffff;
    margin: 0;
}

.amarillo {
    color: #fcb316;
}

.textoCarousel button {
    margin-top: 40px;


}


/*FIN SECTIONS CAROUSEL */
/*INICIO SECTION HISTORY AND CAUSE */
.contenedor-hpc {
    position: relative;
    margin: auto;
    width: 65%;


}

.contenedor-hpc2 {
    overflow: hidden;
    border: 0.5px solid #e0e0e0;
    border-radius: 12px;
    background-color: #ffffff;
    width: 100%;
    height: 560px;
    margin: 5rem auto;
    display: flex;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.contenedor-hpc2 h5 {
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.contenedor-hpc2 img {
    height: 100%;
    width: auto;
}

/*@media only screen and (max-width: 1080px) {
    .contenedor-hpc{
        flex-wrap: wrap;
    }
}*/


.contenedor-hpc3 {
    
    width: 100%;
    height: auto;
    margin: 1rem 1rem;
    padding: 0px 50px;
}

.contenedor-hpc3 h1 {
    font-weight: 600;
}

.contenedor-hpc4 {
    
    overflow: hidden;
    width: 100%;
    margin: 0;
}

.contenedor-hpc4 img {
    
    width: auto;
    height: 100%;
}

.contenedor-hpc4 img:hover {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}

@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}




.card-text {
    padding-right: 50px;
    margin: 2rem 0;
    font-weight: 300;
    font-size: 16px;
    color: #5c727d;
    line-height: 26px;
}

.cardButton {
    margin-top: 40px;
}

/*FIN SECTION HISTORY AND CAUSE */
/*INICIO SECTION THEMISSION */
.theMission {
    margin: 10rem 0;
}

.theMissionH2Container {
    text-align: center;
    margin: auto;

}

/*FIN SECTION THEMISSION */
/*INICIO SECTION THREECARD */

.head-card {
    width: 70%;
    margin: 5rem auto;
}

.head-card h4 {
    font-weight: 400;
    margin: 20px auto;
    width: 40%;
    color: #337ab7;
    font-size: 20px;
}

.head-card h1 {
    font-size: 42px;
    margin-bottom: 0;
    font-weight: 700;

}

h1 {
    color: #044383;
    margin: 0;
    font-weight: 900;
    line-height: 1;

}

h3 {
    color: #044383;
}

h5 {
    color: #337ab7;
    font-weight: 500;
    text-transform: uppercase;



}

.linea-corta {
    margin: 25px auto;
    border-radius: 5px;
    height: 4px;
    width: 8%;
    background-color: #fcb316;
}

.threeCard {
    width: 70%;
    margin: 5rem auto;
    display: flex;

}





.threeCardContainer img {

    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.threeCardContainer:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}



.threeCardContainer {
    overflow: hidden;
    border-radius: 12px;
    width: 30%;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.threeCardContainer:hover {

    background: #ffffff;
}

.threeCardContainer2 div {
    overflow: hidden;
}

.threeCardContainer2 {

    padding: 0;
    margin: auto;
    height: 38rem;


}

.threeCardContainer3 {
    border-top: 5px solid #044383;
    padding: 40px;
    margin: auto;

}

.threeCardContainer3:hover {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    border-top: 5px solid #fcb316;
}




.threeCardContainer h5 {
    color: #337ab7;
    padding-bottom: 10PX;
    font-size: 11px;
    text-transform: uppercase;

}

.threeCardContainer:hover h5 {
    color: #fcb316;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.threeCardContainer h3 {
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    color: #044383;
}

.threeCardContainer:hover h3 {
    color: #fcb316;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.threeCardContainer p {
    margin: 2rem 0;
    font-weight: 300;
    font-size: 16px;
    color: #5c727d;
}

.card-linea {
    border-top: 0.5px solid #e0e0e0;
    padding-top: 20px;
}



.boton-card {
    padding: 0;
    text-decoration: none;
    font-size: 14PX;
    font-weight: 700;
    color: #337ab7;
}

.boton-card:hover {
    cursor: pointer;
    color: #fcb316;
}


/*FIN SECTION THREECARD */
/* FIN MAIN */

/******************************************** FIN LINK SOBRE INDEX *****************************************************/
/******************************************** SOBRE NOSOTROS *****************************************************/



.banner {

    width: 100%;
    height: 530px;
    position: relative;
    overflow: hidden;
    margin: 0px;


}





.linea {
    border-bottom: 10px solid #fcb316;
}


.texto-sn {

    font-size: 75px;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/*video{
    
    width: 100%;
    height: auto;

}*/

article {
    width: 50%;
    margin: 5rem auto;
}

h2 {
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 50px;
    color: #044383;

}

article div {
    padding-bottom: 50px;
}

article div p {
    font-size: 20px;
    color: #044383;

}

.segunda-lectura {
    padding: 0px 0px 50px 230px;
}

.segunda-lectura p {


    font-size: 16px;
    line-height: 1.8;
    color: #3d6072;

}



.img-sn {
    padding: 0px 0px 0px 150px;
}

.img-sn1 {
    padding: 0px;
}

.img-sn2 {
    padding: 0px;
}

.img-sn1 img {
    padding: 5px;
}

.img-sn2 img {
    padding: 5px;
}




/*.sectionHistoryAbautUs {
    margin: 5rem 0;
}

.historyContainer h2 {
    height: 86px;
    width: 67rem;
}

.historyContainer p {
    width: 67rem;
    height: 15rem;
}

.rotaryTapialesContainer h2 {
    height: 5.3rem;
    width: 67rem;
}

.rotaryTapialesContainer p {
    /* height: 10rem; 
    width: 67rem;
}

.sectionInfoContainer h2 {
    margin: 0 0 3rem 0;
}

.sectionInfoContainer p {
    width: 67rem;
}


.sectionInfoContainer2 p {
    width: 67rem;
}

.sectionInformationImgContainer {
    display: flex;
    margin: 7rem 0 0 0;
}

.sectionInformationImgContainer .ImgContainer1 img {
    height: 100%;
    width: 100rem;
}

.sectionInformationImgContainer .ImgABContainer {
    width: 80rem;
    margin: 0 0 0 1rem;
}

.sectionInformationImgContainer .ImgABContainer .ImgAContainer {
    border: black;
    margin: 0 0 1rem 0;
} */

/******************************************** FIN LINK SOBRE NOSOTROS *****************************************************/

.container-amarillo {
    width: 100%;
    height: 400px;
    padding: 8rem 11rem 5rem 11rem;
    margin: 0;
    background-color: #fcb316;
}

.container-amarillo p {
    font-size: 2rem;
    text-align: center;
    color: #044383;
    font-weight: 600;
    margin: 0;
}

.banner2 {

    width: 100%;
    height: 530px;
    position: relative;
    overflow: hidden;
    margin: 0px;
    background-image: url("/image/proyectosycausas.png");
    background-attachment: fixed;
    filter: brightness(0.7);
}


/******************************************** INICIO LINK SOBRE NOSOTROS *****************************************************/




/******************************************** FIN LINK PROYECTOS Y CAUSAS *****************************************************/


/******************************************** INICIO LINK CONTACTO *****************************************************/

.formContainer {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 5rem auto;
    padding: 2rem;
    border: solid #cfd4d6;
    border-radius: 1rem;
}



.contactContainer {
    width: 304px;
    padding: 2rem;
}

.contactContainer h2 {
    margin: 0 0 2rem 0;
}

.contactContainer p {
    font-size: 1rem;
    margin: auto;
}

.contactNetContainer {
    margin: 1rem 0;
}

.formContainer form {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    width: 45rem;
    margin: auto;
}

.formName {
    width: 20rem;
    margin: auto;
}

.formPhone {
    width: 20rem;
    margin: auto;
}

.formEmail {
    width: 40.3rem;
    margin: 1rem auto;
}

:hover.formName,
:hover.formEmail,
:hover.formPhone {
    background: #b5e1f3;
}

.message {
    width: 40.3rem;
    padding: 3rem;
    margin: 1rem auto;
}

:hover.message {
    background: #b5e1f3;
}

form .button {
    height: 60px;
    width: 176px;
    left: 647px;
    top: 1674px;
    border-radius: 81px;
    margin: auto;
}

form :hover.button {
    transition: all 1s;
    background: #b5e1f3;
}

.sectionMap {
    width: 100%;
}

.mapsContainer {
    width: 100%;
}

.maps {
    width: 100%;
    height: 532px;
    margin: 0;
}

/* FIN FORMULARIO CONTACTO */


/******************************************** FIN LINK CONTACTO *****************************************************/