/*
---Body
---Header (listo)
---Footer
---Seccion Index
---Seccion Sobre Nosotros
---Seccion Proyectos Y Causas
---Contacto

*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');





* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    text-decoration: none;
    max-width: 100%;


}

::selection {

    background: #fcb316;
}

/*---------------------------BODY----------------------------------*/



body {
    background-color: rgb(237, 240, 243);
    font-family: 'Open Sans', sans-serif;
}





/*---------------------------HEADER ----------------------------------*/


.divHeaderContainer {
    background: #ffffff;
    width: 100%;
    margin: 0%;

    /* position: fixed; */
}

div.container {
    padding: 0%;
    width: 90%;


}

.logoRotary {
    border-radius: 1rem;
}

.navbar-expand .navbar-nav .nav-link {

    color: #044383;
}

.ulHeader {
    width: 33rem;
    justify-content: space-around;
}

.nav-item :hover {
    font-weight: bold;
}

.nav-item .active {
    font-weight: bold;
}

.btnP {

    background: #FFFFFF;
    width: 140px;
    padding: 0.4rem;
    margin: 0 0 0 20px;
    border-radius: 50px;
    border: solid 1.5px #044383;
    color: #044383;
}

.btnP:hover {
    background: #044383;
    color: #ffffff;
    /*transition: all 1s;*/
}

.btnS {
    font-family: Arial, Helvetica, sans-serif;
    background: #fcb316;
    width: 140px;
    padding: 0.4rem;
    margin: 0 0 0 10px;
    border-radius: 50px;
    border: solid 2px #fcb316;
    color: #044383;
}

.btnS:hover {
    background: none;
    border: solid 2px #fcb316;
    color: #fcb316;
    /*transition: all 1s;*/
}

.textoCarousel .btnS {
    width: 200px;
    height: 60px;
    padding: auto;
    font-size: 28px;
}

/* FIN HEADER */






/*---------------------------FOOTER ----------------------------------*/


footer {
    background: #044383;
    width: 100%;
    padding: 5rem 10rem 5rem 10rem;
    margin: 0rem 0 0 0;

}


.footerContainer1 {
    margin: 0px;
    width: 100%;
    display: flex;
    padding: 1rem;
    justify-content: space-around;
}

.footerContainer1 .cantainerLista {
    width: 50%;
}

.footerContainer1 .cantainerLogos {
    width: 50%;
}

.footerContainer1 .cantainerLogos img {
    padding-right: 50px;
}

.footerContainer1 .datos {
    width: 50%;
    color: #ffffff;
}

.footerContainer1 .datos p {
    margin: 0;
    font-size: 1.1rem;
}


.footerContainer1 .redes {
    width: 20%;
}

.footerContainer1 .botonesFooter {
    padding-left: 105px;
    width: 30%;
}





/*---------------estilos para lista del footer -----------*/

footer ul {
    width: 100%;
    padding: 0%;

}

footer li {
    border-bottom: 2px solid #ffffff;
    list-style: none;
}

footer li a {
    color: #ffffff;
    font-size: 40px;
    font-weight: normal;
    text-decoration: none;
}

footer li a:hover {
    cursor: pointer;
    color: #fcb316;
    font-weight: 400;
}


/*--------Responsive medidas--------*/
@media screen and (max-width: 1800px){
    
footer {
    background: #044383;
    width: 100%;
    padding: 5rem 10rem 5rem 10rem;
    margin: 0rem 0 0 0;

}


.footerContainer1 {
    margin: 0px;
    width: 100%;
    display: flex;
    padding: 1rem;
    justify-content: space-around;
}

.footerContainer1 .cantainerLista {
    width: 50%;
}

.footerContainer1 .cantainerLogos {
    width: 50%;
}

.footerContainer1 .cantainerLogos img {
    padding-right: 50px;
}

.footerContainer1 .datos {
    width: 50%;
    color: #ffffff;
}

.footerContainer1 .datos p {
    margin: 0;
    font-size: 1.1rem;
}


.footerContainer1 .redes {
    width: 20%;
}

.footerContainer1 .botonesFooter {
    padding-left: 105px;
    width: 30%;
}





/*---------------estilos para lista del footer -----------*/

footer ul {
    width: 100%;
    padding: 0%;

}

footer li {
    border-bottom: 2px solid #ffffff;
    list-style: none;
}

footer li a {
    color: #ffffff;
    font-size: 40px;
    font-weight: normal;
    text-decoration: none;
}

footer li a:hover {
    cursor: pointer;
    color: #fcb316;
    font-weight: 400;
}
}
@media screen and (max-width: 961px){

footer {
    background: #044383;
    width: 100%;
    padding: 35px;
    margin: 0rem 0 0 0;

}


.footerContainer1 {
    margin: 0px;
    width: 100%;
    display: flex;
    padding: 1rem;
    justify-content: space-around;
}

.footerContainer1 .cantainerLista {
    width: 65%;
}

.footerContainer1 .cantainerLogos {
    width: 35%;
}

.footerContainer1 .cantainerLogos img {
    padding-right: 0px;
    padding-bottom: 25px;
}

.footerContainer1 .datos {
    width: 30%;
    color: #ffffff;
}

.footerContainer1 .datos p {
    margin: 0;
    font-size: 18px;
    padding: 0px;
}


.footerContainer1 .redes {
    width: 30%;
}

.footerContainer1 .botonesFooter {
    padding-left: 15px;
    width: 30%;
}





/*---------------estilos para lista del footer -----------*/

footer ul {
    width: 100%;
    padding: 0%;

}

footer li {
    border-bottom: 2px solid #ffffff;
    list-style: none;
}

footer li a {
    color: #ffffff;
    font-size: 40px;
    font-weight: normal;
    text-decoration: none;
}

footer li a:hover {
    cursor: pointer;
    color: #fcb316;
    font-weight: 400;
}   
}
@media screen and (max-width: 700px){
    
footer {
    background: #044383;
    width: 100%;
    padding: 35px;
    margin: 0rem 0 0 0;

}


.footerContainer1 {
    margin: 0px;
    width: 100%;
    padding: 0px;
    justify-content: space-around;
    
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
}

.footerContainer1 .cantainerLista {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footerContainer1 .cantainerLogos {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.footerContainer1 .cantainerLogos img {
    padding: 10px;
    width: 100%;
}

.footerContainer1 .datos {
    width: 100%;
    color: #ffffff;
    margin-bottom: 30px;
}

.footerContainer1 .datos p {
    margin: 0;
    font-size: 1.1rem;
    padding: 0px;
}


.footerContainer1 .redes {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.footerContainer1 .botonesFooter {
    padding-left: 0px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
}





/*---------------estilos para lista del footer -----------*/

footer ul {
    width: 100%;
    padding: 0%;

}

footer li {
    border-bottom: 2px solid #ffffff;
    list-style: none;
}

footer li a {
    color: #ffffff;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
}

footer li a:hover {
    cursor: pointer;
    color: #fcb316;
    font-weight: 400;
}
}




/*---------------estilos para botones del footer -----------*/


.botonFooter {
    background: #fcb316;
    width: 150px;
    height: 50px;
    font-size: 20px;
    padding: 0.4rem;
    margin: 10px 0 0 10px;
    border-radius: 50px;
    border: solid 2px #fcb316;
    color: #044383;
}

.botonFooter:hover {
    background: none;
    border: solid 2px #fcb316;
    color: #fcb316;
}



/* FIN FOOTER */





/*---------------------------SECCION INICIO ----------------------------------*/

main {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
    background-color: #ffffff;

}

.home {
    background-color: #f9fcff;
}

/*INICIO SECTIONS CAROUSEL */
.sectionCarousel {

    width: 100%;
    height: 845px;
    position: relative;
    overflow: hidden;

    margin: 0px;
}

.portada {

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    filter: brightness(0.6);

}

.portada img {
    object-fit: cover;
    text-align: center;
}

.textoCarousel {
    position: absolute;
    top: 15rem;
    left: 200px;
    /* border: #cfd4d6 solid; */
    width: 942px;
    height: 25rem;
}

.textoCarousel h1 {

    font-size: 75px;
    color: #FFFFFF;
    text-align: left;
    margin: 0px 20px 20px 0px;
}

.textoCarousel p {

    font-weight: 400;
    line-height: 45px;
    font-size: 40px;
    color: #ffffff;
    margin: 0;
}

.amarillo {
    color: #fcb316;
}

.textoCarousel button {
    margin-top: 40px;


}

/*----------------Banner Responsive--------------*/

@media screen and (max-width: 1800px) {

    .sectionCarousel {

        width: 100%;
        height: 845px;
        position: relative;
        overflow: hidden;
        margin: 0px;
    }


    .sectionCarousel img {
        width: 100%;
        height: 845px;
        object-fit: cover;
        text-align: center;
    }

    div.textoCarousel {
        position: absolute;
        top: 15rem;
        left: 200px;

        width: 942px;
        height: 25rem;
    }

    .textoCarousel h1 {

        font-size: 75px;
        margin: 0px 20px 20px 0px;
    }

    .textoCarousel p {
        font-weight: 400;
        line-height: 45px;
        font-size: 40px;
        margin: 0;
    }


    .textoCarousel button {
        margin-top: 60px;
    }

}

@media only screen and (max-width: 961px) {


.sectionCarousel {

    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
    margin: 0px;
}


.sectionCarousel img {
    width: auto;
    height: 100%;
    object-fit: cover;
    text-align: center;
}

div.textoCarousel {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    width: 85%;
    height: auto;
}

.textoCarousel h1 {

    font-size: 75px;
    margin: 0px 0px 20px 0px;
}

.textoCarousel p {
    font-weight: 400;
    line-height: 48px;
    font-size: 40px;
    padding: 20px 0px ;
}


.textoCarousel button {
    margin-top: 40px;
}

}



@media screen and (max-width:700px) {

    .sectionCarousel {

        width: 100%;
        height: 700px;
        margin: 0px;
    }

    .sectionCarousel img {
        width: auto;
        height: 100%;
        object-fit: cover;
        text-align: center;
    }

    div.textoCarousel {
        position: absolute;
        margin: 0px;
        
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    width: 85%;
    height: auto;
    }

    .textoCarousel h1 {

        font-size: 50px;
        text-align: left;
        margin: 0px 2px 2px 0px;
    }

    .textoCarousel p {
        width: 100%;
        font-weight: 500;
        font-size: 24px;
        line-height: 34px;
        margin: 0px;
        padding: 50px 0px;
    }

    .textoCarousel button {
        margin-top: 30px;


    }
}







/*----------------FIN Banner Responsive--------------*/


/*FIN SECTIONS CAROUSEL */
/*INICIO SECTION HISTORY AND CAUSE */



.contenedor-hpc {
    position: relative;
    margin: auto;
    width: 65%;
    z-index: 2;


}

.contenedor-hpc2 {
    overflow: hidden;
    /*border: 0.5px solid #e0e0e0;
    border-radius: 12px;*/
    background-color: #ffffff;
    width: 100%;
    height: 560px;
    margin: 5rem auto;
    display: flex;
    flex-direction: row;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}






.contenedor-hpc2 h5 {
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.contenedor-hpc2 img {
    object-fit: cover;
    height: 100%;
    width: auto;
}



.contenedor-hpc3 {

    width: 100%;
    height: auto;
    margin: 1rem 1rem;
    padding: 0px 50px;
}

.contenedor-hpc3 h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.contenedor-hpc4 {

    overflow: hidden;
    width: 100%;
    margin: 0;
}

.contenedor-hpc4 img {
    object-fit: cover;
    width: auto;
    height: 100%;
}

.contenedor-hpc4 img:hover {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}

@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}




.card-text {
    padding-right: 50px;
    margin: 2rem 0;
    font-weight: 300;
    font-size: 16px;
    color: #5c727d;
    line-height: 26px;
}

.cardButton {
    margin: 30px 0px;
}


/*------HPC Responsive-----*/

@media screen and (max-width: 1800px) {

    .contenedor-hpc {
        position: relative;
        margin: auto;
        width: 65%;
    }

    .contenedor-hpc2 {
        overflow: hidden;
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        margin: 5rem auto;
        display: flex;
        flex-direction: row;
    }

    .contenedor-hpc3 {

        width: 100%;
        height: 100%;
        margin: 1rem 1rem;
        padding: 0px 50px;
    }

    .contenedor-hpc4 {

        overflow: hidden;
        width: 100%;
        margin: 0;
    }

    .card-text {
        padding-right: 50px;
        margin: 2rem 0;
    }

    .cardButton {
        margin: 30px 0px;
    }
}

@media only screen and (max-width: 961px) {
    .contenedor-hpc {
        position: relative;
        margin: auto;
        width: 90%;
        height: 100%;
    }

    .contenedor-hpc2 {
        overflow: hidden;
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        margin: 5rem auto;
        display: flex;
        flex-direction: row;
    }

    .contenedor-hpc3 {

        width: 100%;
        height: 100%;
        overflow: visible;
        margin: 0px;
        padding: 0px 30px;
    }
    .contenedor-hpc3 h1 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 25px;
    }

    .contenedor-hpc4 {

        overflow: hidden;
        width: 100%;
        margin: 0;
    }

    .card-text {
        padding: 0px;
        margin: 2rem 0;
    }

    .cardButton {
        margin: 20px 0px;
    }
}


@media screen and (max-width:700px) {

    .contenedor-hpc {
        position: relative;
        margin: auto;
        width: 100%;
        height: auto;
    }

    .contenedor-hpc2 {
        overflow: hidden;
        width: 100%;
        height: auto;
        margin: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .contenedor-hpc3 {

        width: 90%;
        height: auto;
        margin: 0px 20px;
        
    }

    .contenedor-hpc4 {

        overflow: hidden;
        width: 100%;
        text-align: center;
        padding: 15px 25px;
    }

    .card-text {
        padding-right: 0px;
        margin: 2rem 0;
        
    }

    .cardButton {
        margin: 8px 0px;
    }
}






/*------FIN DE HPC Responsive-----*/



/*FIN SECTION HISTORY AND CAUSE */

/*INICIO SECTION THREECARD */

.head-card {
    width: 70%;
    margin: 5rem auto;
}

.head-card h4 {
    /*font-weight: 400;
    margin: 20px auto;
    width: 40%;
    color: #337ab7;
    font-size: 20px;*/

    font-family: 'Open Sans', sans-serif;
    margin: 20px auto;
    width: 40%;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
    color: #888;

}

.head-card h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
    margin-bottom: 0;
    font-weight: 700;

}

.linea-corta {
    margin: 25px auto;
    border-radius: 5px;
    height: 4px;
    width: 8%;
    background-color: #fcb316;
}

/*------HEAD CARD Responsive-----*/

@media screen and (max-width: 1800px) {
    .head-card {
        width: 70%;
        margin: 5rem auto;
    }

    .head-card h4 {

        margin: 20px auto;
        width: 40%;
        font-size: 18px;

    }

    .head-card h1 {
        font-size: 42px;
        margin-top: 60px;
    }

    .linea-corta {
        width: 8%;
    }
}
@media only screen and (max-width: 961px) {
    .head-card {
        width: 100%;
        margin: 3rem auto;
    }

    .head-card h4 {

        margin:  auto;
        width: 40%;
        font-size: 18px;

    }

    .head-card h1 {
        font-size: 42px;
        margin-top: 60px;
    }

    .linea-corta {
        width: 8%;
    }
}
@media screen and (max-width: 700px) {
    .head-card {
        width: 100%;
        margin: 30px auto;
    }

    .head-card h4 {
        margin: 0%;
        padding: 24px;
        width: 100%;
        font-size: 18px;
    }

    .head-card h1 {
        text-align: center;
        font-size: 32px;

        padding: auto;
        font-weight: 700;
    }

    .linea-corta {
        width: 20%;
    }
}


/*------FIN DE HEAD CARD Responsive-----*/

h1 {

    color: #044383;
    margin: 0;
    font-weight: 900;
    line-height: 1;

}

h3 {
    color: #044383;
}

h5 {
    color: #337ab7;
    font-weight: 500;
    text-transform: uppercase;



}



.threeCard {
    width: 70%;
    margin: 5rem auto;
    display: flex;

}

.threeCardContainer img {
    object-fit: cover;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.threeCardContainer:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.threeCardContainer {
    overflow: hidden;
    /*border-radius: 12px;*/
    width: 30%;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.threeCardContainer:hover {

    background: #ffffff;
}

.threeCardContainer2 div {
    overflow: hidden;
}

.threeCardContainer2 {

    padding: 0;
    margin: auto;
    height: 38rem;


}

.threeCardContainer3 {
    border-top: 5px solid #044383;
    padding: 40px;
    margin: auto;

}

.threeCardContainer3:hover {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    border-top: 5px solid #fcb316;
}




.threeCardContainer h5 {
    color: #337ab7;
    padding-bottom: 10PX;
    font-size: 11px;
    text-transform: uppercase;

}

.threeCardContainer:hover h5 {
    color: #fcb316;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.threeCardContainer h3 {
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    color: #044383;
}

.threeCardContainer:hover h3 {
    color: #fcb316;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.threeCardContainer p {
    margin: 2rem 0;
    font-weight: 300;
    font-size: 16px;
    color: #5c727d;
}

.card-linea {
    border-top: 0.5px solid #e0e0e0;
    padding-top: 20px;
}



.boton-card {
    padding: 0;
    text-decoration: none;
    font-size: 14PX;
    font-weight: 700;
    color: #337ab7;
}

.boton-card:hover {
    cursor: pointer;
    color: #fcb316;
}

/*----------THREECARD Responsive--------*/

@media screen and (max-width: 1800px) {
    .threeCard {
        width: 70%;
        margin: 5rem auto;
        display: flex;
    }

    .threeCardContainer {
        overflow: hidden;
        width: 30%;
        margin: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .threeCardContainer2 {

        padding: 0;
        margin: auto;
        height: 38rem;


    }

    .threeCardContainer3 {
        border-top: 5px solid #044383;
        padding: 30px;
        margin: auto;

    }
    

.threeCardContainer h5 {
    color: #337ab7;
    padding-bottom: 10PX;
    font-size: 11px;
    text-transform: uppercase;

}



.threeCardContainer h3 {
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    color: #044383;
}



.threeCardContainer p {
    margin: 2rem 0;
    font-weight: 300;
    font-size: 16px;
    color: #5c727d;
}
}
@media only screen and (max-width: 961px) {
    .threeCard {
        width: 90%;
        margin: 40px auto  ;
        display: flex;
    }

    .threeCardContainer {
        overflow: hidden;
        width: 32%;
        margin: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .threeCardContainer2 {

        padding: 0;
        margin: auto;
        /*height: 32rem;*/
        height: auto;


    }

    .threeCardContainer3 {
        border-top: 5px solid #044383;
        padding: 15px;
        margin: auto;
    }

    

.threeCardContainer h5 {
    color: #337ab7;
    padding-bottom: 10PX;
    font-size: 11px;
    text-transform: uppercase;

}



.threeCardContainer h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #044383;
}


.threeCardContainer p {
    margin: 2rem 0;
    font-weight: 300;
    font-size: 12px;
    color: #5c727d;
    padding: 0px;
}
}

@media screen and (max-width: 700px) {
    .threeCard {
        width: 100%;
        margin: 0px;
        display: flex;
        flex-direction: column;
    }

    .threeCardContainer {
        overflow: hidden;
        width: 90%;
        height: 100%;
        margin: 20px auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }


    .threeCardContainer2 {
        height: 100%;
        padding: 0;
        margin: auto;
        


    }

    .threeCardContainer3 {
        border-top: 5px solid #044383;
        padding: 20px;
        margin: auto;
        height: 100%;

    }

    

.threeCardContainer h5 {
    color: #337ab7;
    padding-bottom: 10PX;
    font-size: 11px;
    text-transform: uppercase;

}


.threeCardContainer h3 {
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    color: #044383;
}



.threeCardContainer p {
    margin: 2rem 0;
    font-weight: 300;
    font-size: 16px;
    color: #5c727d;
}
}
/*----------FIN DE THREECARD Responsive--------*/

/*FIN SECTION THREECARD */
/* FIN MAIN */

/******************************************** FIN LINK SOBRE INDEX *****************************************************/
/******************************************** SOBRE NOSOTROS *****************************************************/



.banner {

    width: 100%;
    height: 530px;
    position: relative;
    overflow: hidden;
    margin: 0px;


}

img.portada  {
    width: auto;
    height: 100%;
    object-fit: cover;
    text-align: center;
}



.linea {
    border-bottom: 10px solid #fcb316;
}


.texto-sn {

    font-size: 75px;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

/*--------Responsive Portadas--------*/
@media screen and (max-width: 1800px){
.banner {

        width: 100%;
        height: 530px;
        position: relative;
        overflow: hidden;
        margin: 0px;
    }

    img.portada  {
        
        width: 100%;
        height: auto;
        object-fit: cover;
        text-align: center;
    }
    
    .texto-sn {
    
        font-size: 75px;
        color: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    
    }
}
@media screen and (max-width: 961px){
    .banner {

    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: 0px;


}


img.portada  {
    
    width: auto;
    height: 100%;
    object-fit: cover;
    text-align: center;
}

    



.texto-sn {

    font-size: 55px;
    color: #ffffff;
    position: absolute;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
}
@media screen and (max-width: 700px){
    
.banner {

        width: 100%;
        height: 300px;
        overflow: hidden;
        position: relative;
        margin: 0px;
    
    
    }
    
    
    img.portada  {
        
        width: auto;
        height: 100%;
        object-fit: cover;
        text-align: center;
    }

        
    
    
    
    .texto-sn {
    
        font-size: 40px;
        color: #ffffff;
        position: absolute;
        width: 85%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    
    }
}


/*video{
    
    width: 100%;
    height: auto;

}*/

article {
    width: 65%;
    margin: 4rem auto 0 auto;
    padding: 0px;
}

h2 {
    color: #044383;
    padding-bottom: 30px;
    padding-top: 50px;
    font-size: 50px;


}

article div {
    padding-bottom: 50px;
}

article div p {
    padding-right: 150px;
    font-weight: 300;
    font-size: 20px;
    margin: 0;
    line-height: 28px;
    color: #044383;

}

.segunda-lectura {
    padding: 0px 0px 50px 235px;
}

.segunda-lectura p {


    padding-right: 50px;
    margin: 2rem 0;
    font-weight: 300;
    font-size: 16px;
    color: #5c727d;
    line-height: 26px;

}
/*--------Responsive Articles--------*/

@media screen and (max-width: 1800px){
    article {
    width: 65%;
    margin: 4rem auto 0 auto;
    padding: 0px;
}

h2 {
    color: #044383;
    padding-bottom: 30px;
    padding-top: 50px;
    font-size: 50px;


}

article div {
    padding-bottom: 50px;
}

article div p {
    padding-right: 150px;
    font-weight: 300;
    font-size: 20px;
    margin: 0;
    line-height: 28px;
    color: #044383;

}


}
@media screen and (max-width: 961px){
    article {
        width: 90%;
        margin: 4.5rem auto ;
        padding: 0px;
    }
    
    h2 {
        color: #044383;
        padding-bottom: 30px;
        padding-top: 50px;
        font-size: 50px;
    
    
    }
    
    article div {
        padding-bottom: 50px;
    }
    
    article div p {
        padding-right: 0px;
        font-weight: 300;
        font-size: 18px;
        margin: 0;
        line-height: 28px;
        color: #044383;
    
    }
    

}
@media screen and (max-width: 700px){
    article {
        width: 100%;
        margin: 0px;
        padding: 30px;
    }
    
    h2 {
        color: #044383;
        padding-bottom: 30px;
        padding-top: 50px;
        font-size: 50px;
    
    
    }
    
    article div {
        padding-bottom: 50px;
    }
    
    article div p {
        padding-right: 0px;
        font-weight: 300;
        font-size: 15px;
        margin: 0;
        line-height: 20px;
        color: #044383;
    
    }
    

}

.img-sn {
    padding: 0px 0px 0px 0px;
}

.img-sn1 {
    overflow: hidden;
    padding: 0px;
}

.img-sn2 {
    overflow: hidden;
    padding: 0px;
}

.img-sn1 img {
    width: auto;
    height: 100%;
    object-fit: cover;
    padding: 5px;
}

.img-sn2 img {
    object-fit: cover;
    padding: 5px;
}




/******************************************** FIN LINK SOBRE NOSOTROS *****************************************************/

.container-amarillo {
    width: 100%;
    height: auto;
    padding: 8rem 5rem 8rem 5rem;
    margin: auto;
    background-color: #fcb316;
}

.container-amarillo p {
    width: 70%;
    font-size: 2rem;
    text-align: center;
    color: #044383;
    font-weight: 600;
    margin: auto;
}


/*-----Container-amrillo Responsive-----*/

@media screen and (max-width: 1800px) {
    .container-amarillo {
        width: 100%;
        height: auto;
        padding: 8rem 5rem 8rem 5rem;
        margin: auto;

    }

    .container-amarillo p {
        width: 70%;
        font-size: 2rem;
        font-weight: 600;
        margin: auto;
    }
}
@media only screen and (max-width: 961px) {
    .container-amarillo {
        width: 100%;
        height: auto;
        padding: 4rem 2rem 4rem 2rem;
        margin: 0px;

    }

    .container-amarillo p {
        width: 85%;
        font-size: 1.5rem;
        font-weight: 600;
        margin: auto;
    }
}

@media screen and (max-width: 700px) {
    .container-amarillo {
        width: 100%;
        height: auto;
        padding: 35px 25px;
        margin: 5px auto;

    }

    .container-amarillo p {
        width: 100%;
        font-size: 15px;
        font-weight: 600;
        margin: 0px;
    }
}



/******************************************** INICIO LINK PROYECTOS Y CAUSAS *****************************************************/









.marcarLD {
    width: 100%;
    height: auto;
    padding: 0;
    position: relative;
    margin: auto;
    overflow: hidden;


}

.marcarLD img {
    position: absolute;
    z-index: -2;
    object-fit: cover;
}

.marcarLD1 {
    position: relative;
    margin: auto;
    width: 100%;
    display: flex;
    padding: 0;
}

.marcarLD2 {
    display: block;
    margin: 80px 0px;
    padding: 0px;
    width: 100%;

}

.marcarLD2 h5 {
    color: #fcb316;
    font-size: 14px;
    padding-top: 0px;
    padding-bottom: 20px;
    font-weight: 400;
}

.marcarLD2 p {

    color: #044383;
    padding: 25px 90px 0px 0px;
    font-weight: 300;
    font-size: 20px;
    margin: 0;
    line-height: 26px;

}

.marcarLD2 iframe {
    position: relative;
    overflow: hidden;
}

iframe {
    border-radius: 0px;
    text-align: center;
    margin: auto;
    object-fit: cover;
    top: 5px;
    left: 0;
    width: 100%;
    height: 100%;

}

.linea-left {
    margin: 20px 0px;
    text-align: left;
    border-radius: 5px;
    height: 4px;
    width: 100px;
    background-color: #fcb316;
}

/*--- Responsive marcar---*/
@media screen and (max-width: 1800px){
    .marcarLD {
        width: 100%;
        height: auto;
        padding: 0;
        position: relative;
        margin: auto;
        overflow: hidden;
    
    
    }
    
    .marcarLD1 {
        position: relative;
        margin: auto;
        width: 100%;
        display: flex;
        padding: 0;
    }
    
    .marcarLD2 {
        display: block;
        margin: 80px 0px;
        padding: 0px;
        width: 100%;
    
    }
    
    .marcarLD2 h5 {
        font-size: 14px;
        padding-top: 0px;
        padding-bottom: 20px;
        
    }
    
    .marcarLD2 p {
        padding: 25px 90px 0px 0px;
        font-size: 20px;
        margin: 0;
        line-height: 26px;
    
    }
    
    .marcarLD2 iframe {
        position: relative;
        overflow: hidden;
    }
    
    iframe {
        border-radius: 0px;
        text-align: center;
        margin: auto;
        object-fit: cover;
        top: 5px;
        left: 0;
        width: 100%;
        height: 100%;
    
    }
    
    .linea-left {
        margin: 20px 0px;
        text-align: left;
        border-radius: 5px;
        height: 4px;
        width: 100px;
        background-color: #fcb316;
    }
    
}
@media screen and (max-width: 961px){
    .marcarLD {
        width: 100%;
        height: auto;
        padding: 0;
        position: relative;
        margin: auto;
        overflow: hidden;
    
    
    }
    
    .marcarLD1 {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .marcarLD2 {
        display: block;
        margin: 0px;
        padding: 0px;
        width: 100%;
    
    }
    
    .marcarLD2 h5 {
        font-size: 14px;
        padding-top: 0px;
        padding-bottom: 20px;
        
    }
    
    .marcarLD2 p {
        padding: 0px;
        font-size: 20px;
        margin: 0;
        line-height: 26px;
    
    }
    
    .marcarLD2 iframe {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 450px;
        padding-top: 60px;
    }
    
    iframe {
        border-radius: 0px;
        text-align: center;
        margin: auto;
        object-fit: cover;
        top: 5px;
        left: 0;
        
    
    }
    
    .linea-left {
        margin: 20px 0px;
        text-align: left;
        border-radius: 5px;
        height: 4px;
        width: 100px;
        background-color: #fcb316;
    }
}
@media screen and (max-width: 700px){
    .marcarLD {
        width: 100%;
        height: auto;
        padding: 0;
        position: relative;
        margin: auto;
        overflow: hidden;
    }
    
    
    .marcarLD1 {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .marcarLD2 {
        display: block;
        margin: 0px 0px;
        padding: 0px;
        width: 100%;
    
    }
    
    .marcarLD2 h5 {
        font-size: 14px;
        padding-top: 0px;
        padding-bottom: 20px;
        
    }
    
    .marcarLD2 p {
        padding: 0px;
        font-size: 16px;
        margin: 0;
        line-height: 24px;
    
    }
    
    .marcarLD2 iframe {
        position: relative;
        overflow: hidden;
        padding-top: 30px;
        width: 100%;
        height: 230px;
    }
    
    iframe {
        border-radius: 0px;
        text-align: center;
        margin: 0px ;
        object-fit: cover;
        
    
    }
    
    .linea-left {
        margin: 20px 0px;
        text-align: left;
        border-radius: 5px;
        height: 4px;
        width: 100px;
        background-color: #fcb316;
    }
}


/*---Areas de interesas---*/

article div .proyectosh2 {
    padding: 0px 0px 0px 0px;
}

.proyectosh2 h2 {
    padding-right: 160px;
}

.areas {
    width: 100%;
    margin: 70px auto;
    padding: 0;
}

.areas1 {
    margin-top: 12px;
}

.area2 {
    padding-bottom: 40px;
    overflow: hidden;
}

.area2 img {
    
    padding: 0px;
    margin: auto;
    transition: transform .2s;
}

.area2:hover img {
    transform: scale(1.1);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}

.areas h4 {
    color: #044383;
}

/*---Proyectos actuales---*/






.proyectoR {
    width: 100%;
    height: auto;
    /*background-color: #337ab7;*/
    padding: 0;
    position: relative;
    margin: auto;
    overflow: hidden;


}



.proyectoR1 {
    position: relative;
    margin: auto;
    width: 100%;
    display: flex;
    padding: 0;
}

.proyectoR2 {
    display: block;
    margin: 80px 0px;
    padding: 20px;
    width: 100%;

}

.proyectoR2 h5 {
    color: #fcb316;
    font-size: 14px;
    padding-top: 0px;
    padding-bottom: 20px;
    font-weight: 400;
}

.proyectoR2 p {

    
    padding: 25px 90px 0px 0px;
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    color: #5c727d;
    line-height: 26px;

}
.proyectoR3{
    display: block;
    margin: 80px 0px;
    padding: 0px;
    width: 60%;
}








/*---galeria-----*/


.galeria {
    width: 100%;
    padding-bottom: 0px;
}

.galeria h5 {
    color: #fcb316;
    font-size: 14px;
    padding-top: 0px;
    padding-bottom: 20px;
    font-weight: 400;
}

.galeria div {

    width: 100px;
}

div .caja {
    position: relative;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.col-sm {
    padding: 5px;
    padding-bottom: 10px;
    width: auto;
    height: 250px;
    overflow: hidden;
    object-fit: cover;
}

.caja img {
    width: auto;
    height: 100%;
    object-fit: cover;
    padding: 0px;
}

div .row {
    padding: 0px;
}












/******************************************** FIN LINK PROYECTOS Y CAUSAS *****************************************************/




/******************************************** NUESTRAS CAUSAS *****************************************************/

.tilde {
    top: 0;
    left: 0;
    width: 40px;
    padding-right: 5px;
}


p {
    
    padding-bottom: 40px;
}

.texto-historia div iframe{
    padding: 0px;
    height: 590px;
    width: 100%;
}
.texto-historia {
    padding: 0px; 
}

/*--------Responsive video--------*/
@media screen and (max-width: 1800px){
    .texto-historia div iframe{
        padding: 0px;
        height: 590px;
        width: 100%;
    }
    .texto-historia {
        padding: 0px; 
    }
}
@media screen and (max-width: 961px){
    .texto-historia div iframe{
        
        overflow: hidden;
        width: 100%;
        height: 460px;
        padding-top: 60px;
    }
    .texto-historia {
        padding: 0px; 
    }
}
@media screen and (max-width: 700px){
    .texto-historia div iframe{
        padding: 0px;
        overflow: hidden;
        width: 100%;
        height: 230px;
    }
    .texto-historia {
        padding: 0px; 
    }
}

ul.a {
    list-style-position: outside;
    color: #ffffff;
    font-size: 18px;
    padding: 0px;
    }
    


main .nc0{
    margin: auto; 
    position: relative;
    width: 100%;
}

.nc {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #337ab7;
    margin: auto;
}

.nc1 {
    
    overflow: hidden;
    width: 100%;
    height: auto;
    
    

}

.nc2{
    overflow: hidden;
    width: 80%;
    height: auto;
}

.nc2 ifreme{
    width: 100%;
}


.nc1 .ncimg {
    
    width: auto;
    height: 100%;
    margin: 0px;
    object-fit: cover;
}

.nc1 h5 {
    font-size: 16px;
    color: #044383;
}

.nc1 h1 {
    color: #fcb316;
    font-size: 60px;
    margin: 40px 0px;
}

.nc1 p {
    color: #ffffff;
    font-size: 25px;
}

.nc1 div {
    padding: 60px 80px;
    width: 100%;
    background-color: #337ab7;
}

.nc1 button {
    margin: 40px 0px;
    width: 190px;
    font-size: 25px;

}

.nc1 h3{
    color: #fcb316;
}

.nc1 .pnc{
    font-size: 16px;
}

/*--------Responsive nc--------*/
@media screen and (max-width: 1800px){



.nc {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #337ab7;
    margin: auto;
    margin-top: 50px;
}

.nc1 {
    
    overflow: hidden;
    width: 100%;
    height: auto;
    
    

}

.nc2{
    overflow: hidden;
    width: 80%;
    height: auto;
}

.nc2 ifreme{
    width: 100%;
}


.nc1 .ncimg {
    
    width: auto;
    height: 100%;
    margin: 0px;
    object-fit: cover;
}

.nc1 h5 {
    font-size: 16px;
    color: #044383;
}

.nc1 h1 {
    color: #fcb316;
    font-size: 60px;
    margin: 40px 0px;
}

.nc1 p {
    color: #ffffff;
    font-size: 26px;
    padding: 0px;
}

.nc1 div {
    padding: 60px 130px 0px 130px;
    width: 100%;
    background-color: #337ab7;
}

.nc1 button {
    width: 190px;
    font-size: 25px;
}

.nc1 h3{
    color: #fcb316;
}

.nc1 .pnc{
    font-size: 16px;
}
}
@media screen and (max-width: 961px){

    
.nc {
    margin: auto;
    position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
}

.nc1 {
    
    overflow: hidden;
    width: 100%;
    height: auto;
    
    

}

.nc2{
    overflow: hidden;
    width: 100%;
    height: 470px;
}

.nc2 iframe{
    width: 100%;
}


.nc1 .ncimg {
    
    width: auto;
    height: 100%;
    margin: 0px;
    object-fit: cover;
}

.nc1 h5 {
    padding-top: 40px;
    font-size: 16px;
    color: #044383;
}

.nc1 h1 {
    color: #fcb316;
    font-size: 60px;
    margin: 40px 0px;
}

.nc1 p {
    color: #ffffff;
    font-size: 18px;
    padding: 0px;
}

.nc1 div {
    padding:0px 0px;
    width: 85%;
    margin: auto;
}

.nc1 button {
    margin: 40px 0px;
    width: 150px;
    font-size: 25px;

}

.nc1 h3{
    padding-top: 45px;
}

.nc1 .pnc{
    font-size: 16px;
}
}


@media screen and (max-width: 700px){




.nc {
    margin: auto;
    position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
}

.nc1 {
    
    overflow: hidden;
    width: 100%;
    height: auto;
    
    

}

.nc2{
    overflow: hidden;
    width: 100%;
    height: 270px;
}

.nc2 iframe{
    width: 100%;
}


.nc1 .ncimg {
    
    width: auto;
    height: 100%;
    margin: 0px;
    object-fit: cover;
}

.nc1 h5 {
    font-size: 16px;
    color: #044383;
}

.nc1 h1 {
    color: #fcb316;
    font-size: 40px;
    margin: 40px 0px;
}

.nc1 p {
    color: #ffffff;
    font-size: 18px;
    padding: 0px;
}

.nc1 div {
    padding:30px 40px;
    width: 100%;
}

.nc1 button {
    margin: 30px 0px;
    width: 150px;
    font-size: 25px;

}

.nc1 h3{
    color: #fcb316;
}

.nc1 .pnc{
    font-size: 16px;
}
}


/******************************************** INICIO LINK CONTACTO *****************************************************/

/* .formContainer {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 5rem auto;
    padding: 2rem;
    border: solid #cfd4d6;
    border-radius: 1rem;
}
.contactContainer {
    width: 304px;
    padding: 2rem;
}
.contactContainer h2 {
    margin: 0 0 2rem 0;
}
.contactContainer p {
    font-size: 1rem;
    margin: auto;
}
.contactNetContainer {
    margin: 1rem 0;
}
.formContainer form {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    width: 45rem;
    margin: auto;
}
.formName {
    width: 20rem;
    margin: auto;
}
.formPhone {
    width: 20rem;
    margin: auto;
}
.formEmail {
    width: 40.3rem;
    margin: 1rem auto;
}
:hover.formName,
:hover.formEmail,
:hover.formPhone {
    background: #b5e1f3;
}
.message {
    width: 40.3rem;
    padding: 3rem;
    margin: 1rem auto;
}
:hover.message {
    background: #b5e1f3;
}
form .button {
    height: 60px;
    width: 176px;
    left: 647px;
    top: 1674px;
    border-radius: 81px;
    margin: auto;
}
form :hover.button {
    transition: all 1s;
    background: #b5e1f3;
}
.sectionMap {
    width: 100%;
}
.mapsContainer {
    width: 100%; 
}*/

.mapsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
}

.maps {
    width: 100%;
    height: 530px;
    margin: 0;
}


/*Contacto nuevo*/

:focus {
    outline: none;
}

/*formulario*/

.formWrap {
    width: 80%;
    height: 530px;
    margin: 50px auto;
    display: flex;

    background: #fff;
    /*border-radius: 10px;*/
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/*Informacion de contacto*/

.contactInfo::before {
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: #fcb316;
    ;

    opacity: 0.6;

}


.contactInfo {
    width: 38%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    background-image: url('./image/historia1.jpg');
    background-size: cover;
    background-position: center center;
}

.infoTittle,
.infoItems {
    position: relative;
    z-index: 2;
    color: #fff;

}

.infoTittle {

    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.infoTittle h2 {
    font-size: 35px;
    margin-top: 40px;
}

.infoItems {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 5px;
}

.infoItems p {

    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 10px;
}

.infoItems p:nth-child(1) span {
    font-size: 30px;

    margin-right: 15px;
    margin-left: 4px;
}

.infoItems p:nth-child(2) span {
    font-size: 10px;
    margin-right: 15px;
    margin-left: 4px;
}

form.formContact {
    width: 62%;
    padding: 30px 40px;
    margin: auto;
}

form.formContact h2 {
    font-size: 25px;
    font-weight: 600;
    color: #303030;
    margin-bottom: 30px;
}

form.formContact .userInfo {
    display: flex;
    flex-direction: column;
}

form.formContact label {
    font-weight: 600;

}



.namePhone {

    display: flex;
    flex-direction: row;
}

.namePhone div {
    text-align: left;
    margin: 0;
}

.formContact div div div {
    margin: auto;

}



form.formContact input,
form.formContact textarea,
form.formContact div input {
    width: 100%;
    padding: 8px 0px 5px;
    border: none;
    border-bottom: 2px solid #D1D1D1;
    margin-bottom: 20px;

    font-family: 'Arial, Helvetica, sans-serif';
    color: #5A5A5A;
    font-size: 14px;
    font-weight: 400;

}

form.formContact textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 100px;
    min-height: 100px;
}

form.formContact input[type="button"] {
    width: 180px;
    background: #4091EC;
    padding: 10px;
    border: none;
    /*border-radius: 25px;*/

    align-self: center;

    color: #fff;
    font-family: 'Open sans';
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

}

form.formContact input[type="button"]:hover {
    transition: all 1s;
    background: #b5e1f3;

}

/*Mensaje de error*/

.modalWrap {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mensajeModal {
    background: #FFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    width: 400px;
    padding: 30px 20px 15px;
}

.mensajeModal h3 {
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-weight: 400;
}

.mensajeModal h3:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #C5C5C5;
    margin: 10px 0px 15px;
}

.mensajeModal p {
    font-size: 16px;
    color: #606060;
}

.mensajeModal p:before {
    content: "\food";
    font-family: FontAwesome;
    font-size: 16px;
    color: #E25151;
    margin-right: 8px;

}

.mensajeModal #btnClose {
    display: inline-block;
    padding: 3px 10px;
    margin-top: 10px;

    background: #E35151;
    color: 2px solid #B14141;
    cursor: pointer;


}

/* FIN FORMULARIO CONTACTO */


/******************************************** FIN LINK CONTACTO *****************************************************/

/*----------------Responsive--------------*/

/*--------Responsive medidas--------*/
@media screen and (max-width: 1800px){}
@media screen and (max-width: 961px){}
@media screen and (max-width: 700px){}